@import './styles/Header.scss';
@import './styles/Portada.scss';
@import './styles/Menu_lateral.scss';
@import './styles/Seccion_noticias.scss';
@import './styles/Seccion_informacion.scss';
@import './styles/Seccion_objetivos.scss';
@import './styles/Footer.scss';
@import './styles/Banderas.scss';

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}
