.header {
  width: 100%;
  height: 4rem;
  position: absolute;
}

.header_enlaces {
  margin-right: 5%;
  height: 4rem;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_enlaces-ul {
  display: flex;
  list-style: none;
}

.header_enlaces-li {
  margin: 0 1rem;
  transition: all 0.7s;
}

.header_enlaces-li:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.header_enlaces-a {
  text-decoration: none;
  color: white;
}
