.portada {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #ff730060, #00aeff65),
    url(../../img/header/edificios.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada_texto {
  width: 40rem;
  text-align: center;
}

.portada_texto-titulo {
  margin-bottom: 10rem;
  font-size: 7rem;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.portada_texto-boton {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.7rem 1.5rem;
  text-shadow: 0.2em 0.1em 0.2em black;
  /*transition: all 2s;*/
}

.portada_texto-boton:hover {
  /*transform: translateY(-10px);
  transition: all 2s;*/
}
