.seccion_objetivos {
  height: 100vh;
  background-image: url('../../img/Objetivos/earthbackground.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
  text-align: center;
}

.seccion_objetivos-titulo {
  text-transform: uppercase;
  font-size: 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(207, 207, 223, 0.863),
    rgba(196, 233, 31, 0.698)
  );
  background-clip: text;
  color: transparent;
  padding: 4rem 0;
}

.seccion_objetivos-contenedores {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.seccion_objetivos-contenedor {
  background-color: whitesmoke;
  height: 20rem;
  width: 15rem;
}

.seccion_objetivos-contenedor-titulo {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 20px;
}

.seccion_objetivos-contenedor-texto {
  margin: 0 2rem;
}
