.seccion_informacion {
  height: 100vh;
  background-color: black;
  text-align: center;
}

.seccion_informacion-titulo-contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seccion_informacion-titulo {
  font-weight: 600;
  font-size: 2vw;
  padding: 5rem 0;
  text-align: center;
  text-shadow: 0.2em 0.1em 0.2em gray;
  color: white;
  text-transform: uppercase;
  transition: all 1s;
}

.seccion_informacion-titulo:hover {
  transition: all 1s;
  transform: scale(1.1);
}

.seccion_informacion-contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.seccion_informacion-contenedor-texto {
  color: white;
  width: 50%;
  padding-left: 5%;
}

.seccion_informacion-texto-titulo {
  padding: 3rem 0;
  text-shadow: 0.2em 0.1em 0.2em gray;
  transition: all 1s;
}

.seccion_informacion-texto-titulo {
  transition: all 1s;
  transform: scale(1.1);
}

.seccion_informacion-imagen {
  margin-right: 10%;
}

.gif_noticias {
  width: 25rem;
}
