* {
  margin: 0;
  padding: 0;
}

/*--Header--*/

.header {
  width: 100%;
  height: 4rem;
  position: absolute;
}

.header_enlaces {
  margin-right: 5%;
  height: 4rem;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_enlaces-ul {
  display: flex;
  list-style: none;
}

.header_enlaces-li {
  margin: 0 1rem;
}

.header_enlaces-a {
  text-decoration: none;
  color: white;
  /*transition: all 0.5s;*/
}

.header_enlaces-a:hover {
  /*transform: translateY(-10px);
  transition: all 0.5s;*/
}

/*--Portada--*/

.portada {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right top, #ff730060, #00aeff65),
    url(../img/header/edificios.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portada_texto {
  width: 40rem;
  text-align: center;
}

.portada_texto-titulo {
  margin-bottom: 10rem;
  font-size: 5rem;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.portada_texto-boton {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.7rem 1.5rem;
  text-shadow: 0.2em 0.1em 0.2em black;
  /*transition: all 0.5s;*/
}

/*
.portada_texto-boton:hover {
  transform: translateY(-10px);
  transition: all 0.5s;
}
*/

/*--Manu lateral--*/

.menu_lateral {
  background-color: rgba(0, 0, 0, 0.596);
  width: 10rem;
  height: 100vh;
  position: absolute;
}

.menu_lateral-ul {
  padding-top: 5rem;
}

.menu_lateral-li {
  list-style: none;
  text-align: center;
  margin: 5rem 0;
}

.menu_lateral-a {
  text-decoration: none;
  color: white;
}

.menu_lateral-boton {
  margin-left: 10rem;
}

/*--Noticias--*/

.noticias {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.noticias-titulo {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding: 5rem;
  text-shadow: 0.2em 0.1em 0.2em gray;
}

.img_noticia {
  width: 100%;
  box-shadow: 0 0 20px silver;
}

.noticias_destacadas-contenedor {
  width: 80%;
  margin: 0 10%;
}

.noticias_destacadas-superior,
.noticias_destacadas-inferior {
  display: flex;
}

.contenedor_noticia {
  position: relative;
  margin: 0.5rem 0.5rem;
}

.info_noticias {
  background-color: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 50%;
  margin-top: 30%;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.noticias-titulo:hover {
  -webkit-text-stroke: 0.6px black;
    color: $color-green;
    transform: translateY(-2px);
    transition: all 0.3s;
}
*/

.noticias_destacadas {
  width: 80%;
  height: 25rem;
  margin: 0 10%;
  background-color: white;
}

/*--Seccion informacion--*/

.seccion_informacion {
  height: 100vh;
  background-color: black;
  text-align: center;
}

.seccion_informacion-titulo {
  font-size: 2rem;
  font-weight: 600;
  padding: 5rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 0.2em 0.1em 0.2em gray;
  /*transition: all 1s;*/
}

/*
.seccion_informacion-titulo:hover{
  transition: all 1s;
  transform: scale(1.1);
}
*/

.seccion_informacion-contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.seccion_informacion-contenedor-texto {
  color: white;
  width: 50%;
}

.seccion_informacion-texto-titulo {
  padding: 3rem 0;
  text-shadow: 0.2em 0.1em 0.2em gray;
  /*transition: all 1s;*/
}

/*
.seccion_informacion-texto-titulo {
  transition: all 1s;
  transform: scale(1.1);
}
*/

.seccion_informacion-imagen {
  margin-right: 10%;
}

.gif_noticias {
  width: 25rem;
}

/*--Seccion objetivos--*/

.seccion_objetivos {
  height: 100vh;
  background-image: url('../img/earthbackground.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
  text-align: center;
}

.seccion_objetivos-titulo {
  text-transform: uppercase;
  font-size: 5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(207, 207, 223, 0.863),
    rgba(196, 233, 31, 0.698)
  );
  background-clip: text;
  color: transparent;
  padding: 4rem 0;
}

.seccion_objetivos-contenedores {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.seccion_objetivos-contenedor {
  background-color: whitesmoke;
  height: 20rem;
  width: 15rem;
}

.seccion_objetivos-contenedor-titulo {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 20px;
}

.seccion_objetivos-contenedor-texto {
  margin: 0 2rem;
}

/*--Footer--*/

.footer {
  height: 100vh;
}
